@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body {
  margin: 0;
  padding: 0;
}

.btn{
  background-color:  #214087 !important;
  border-color: white !important;}

.btn:hover{
  box-shadow: 0 0 3px 1px white;

}
/* HEADER IS STARTED */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(245, 245, 220, 1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header.black-bg {
  background-color: rgba(0, 0, 0, 0.125);
}

.header.black-bg .header-nav .header-link {
  color: #ffffff !important;
}

.header.black-bg .header-nav .header-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
}

.header.black-bg .header-nav .header-link:hover::after {
  transform: scale(1);
  transition: 0.5s ease;
}

.header-nav {
  backdrop-filter: blur(20px) !important;
}

.logo {
  width: 100px;
  height: 50px;
}

.navbar-brand > img {
  animation: ursin 2s infinite linear;
}
@keyframes ursin {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.nav-item {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 700;

}
.header .navbar .container .navbar-nav .nav-link {
  color: #214087;
  position: relative;
}

.header-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #214087;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
}
.header-link:hover::after {
  transform: scale(1);
  transition: 0.5s ease;
}

.nav-content {
  background-color: rgba(255, 255, 255, 0);
}
.header-nav {
  backdrop-filter: blur(20px) !important;
}
/* HEADER IS FINISHED */

/* MAIN IS STARTED */
.section1 {
  background-color: #214087;
}
.con1 {
  padding-top: 100px;
}
.carousel {
  overflow-x: hidden;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}
.product-card {
  min-width: 300px;
  height: 500px;
  margin: 11px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-image {
  position: absolute;
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}
.default-img {
  opacity: 1;
}
.hover-img {
  opacity: 0;
}
.product-card:hover .default-img {
  opacity: 0;
}
.product-card:hover .hover-img {
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}
.product-details {
  color: white;
  padding: 15px;
  position: relative;
  top: 365px;
  z-index: 1;
  background: #214087;
}
.carousel-buttons {
  text-align: center;
  margin-top: 20px;
}
.carousel-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}




























/* MEDIA */
@media screen and (max-width: 1200px) {
  .nav-item {
    font-size: 13px;
  }
}
@media screen and (max-width: 1061px) {
  .nav-item {
    font-size: 12px;
  }
}

@media screen and (max-width: 426px) {
  .header .navbar .container .navbar-nav .nav-link {
    font-size: 12px;
  }
}
