@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

/* HEADER IS STARTED */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff37;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header.black-bg {
  background-color: #00000090;
}

.header.black-bg .header-nav .header-link {
  color: #fff !important;
}

.header.black-bg .header-nav .header-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
}

.header.black-bg .header-nav .header-link:hover::after {
  transform: scale(1);
  transition: 0.5s ease;
}

.header-nav {
  backdrop-filter: blur(20px) !important;
}

.logo {
  width: 100px;
  height: 50px;
}

.navbar-brand > img {
  animation: ursin 2s infinite linear;
}
@keyframes ursin {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.nav-item {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 700;
}
.nav-link {
  color: black !important;
  position: relative;
}

.header-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
}

.header-link:hover::after {
  transform: scale(1);
  transition: 0.5s ease;
}

.nav-content {
  background-color: rgba(255, 255, 255, 0);
}

/* HEADER IS FINISHED */
/* MAIN IS STARTED */
.section1 {
  position: relative;
  text-align: center;
  background-image: url(../img/main/photo_2024-05-11_18-47-14.jpg);
  background-size: cover;
  background-position: center;
  color: #3c78d8;
  padding: 100px 0;
  height: 100vh;
  filter: grayscale(20%) contrast(90%);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banner-text h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 700;
}


.section2{
  padding-top: 20px;
  background-color: rgba(245, 245, 220, 1);
}

.logo-components {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(210px, max-content);
  grid-gap: 40px;
}
.img {
  max-width: 100%;
}
.section3{
  background-color: rgba(245, 245, 220, 1);

}

.section3-car {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 100px;
}

.section3-car .carousel .carousel-inner{
  width: 400px ;
}


.carousel-item img{
  height: 500px;

}

.section3 .container p{
  font-family: "Poetsen One", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #3c78d8;
  margin-bottom: 0 ;
  background-color: rgba(245, 245, 220, 1);
}


























































@media screen and (max-width:966px) {
  .logo-components {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    
    width: 90%;
  }

  .section3-car{
    flex-direction: column;
  }
  .car2{
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .car1{
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
  }
}