@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
/* HEADER IS STARTED */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(245, 245, 220, 1);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .header.black-bg {
    background-color: rgba(0, 0, 0, 0.125);
  }
  
  .header.black-bg .header-nav .header-link {
    color: #ffffff !important;
  }
  
  .header.black-bg .header-nav .header-link::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
  }
  
  .header.black-bg .header-nav .header-link:hover::after {
    transform: scale(1);
    transition: 0.5s ease;
  }
  
  .header-nav {
    backdrop-filter: blur(20px) !important;
  }
  
  .logo {
    width: 100px;
    height: 50px;
  }
  
  .navbar-brand > img {
    animation: ursin 2s infinite linear;
  }
  @keyframes ursin {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .nav-item {
    font-family: "Reddit Sans", sans-serif;
    font-weight: 700;
  }
  .header .navbar .container .navbar-nav .nav-link {
    color: #214087;
    position: relative;
  }
  
  .header-link::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #214087;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
  }
  .header-link:hover::after {
    transform: scale(1);
    transition: 0.5s ease;
  }
  
  .nav-content {
    background-color: rgba(255, 255, 255, 0);
  }
  .header-nav {
    backdrop-filter: blur(20px) !important;
  }
  /* HEADER IS FINISHED */

/* MAIN IS STARTED */

.swiper{
  margin-top: 40px;
}
.carousel-item .carousel-caption{
  bottom: 25% ;
}


.carousel-text{
  font-weight: 700;
font-size: 100px;
}

.carousel-text-px{
  font-weight: 700;
font-size: 90px;
}
.carousel-text-pl{
  margin-left: 30px;
  font-weight: 700;
font-size: 90px;
}
.carousel-btn{
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: #242424;
  color: #ffffff;
  border: none;
  font-weight: 600;
  transition: .5s;
  cursor: pointer;
  border-radius: 4px;

}

.carousel-btn> a{
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.carousel-btn> a:hover{
  color: #ffffff;
}

.carousel-btn:hover{
  background-color: #4e5364;
  padding: 14px 28px;
  transition: .5s;
}


.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border: none;
  border-radius: 20% / 50%;
  background-color: gray;
  transition: background-color 0.3s;
  margin: 0 5px !important;
}
.carousel-indicators button.active {
  width: 40px !important;
}

.infos-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  flex-wrap: wrap;
  
}


.infos-card{
  width: calc(20% - 51.2px);
  min-width: 220px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 40px rgba(38, 41, 43, .07);
  border-radius: 12px;
  margin: 20px;
}

.infos-card img{
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 32px;
}

.infos-card p{
  font-weight: 500;
  font-size: 14px;
  text-align: center;
    color: #242424;
}

.swiper__section-2{
  overflow: hidden;
}

.swiper__catalog{
  white-space: nowrap;
  padding-bottom: 20px;
  display: flex;
}

.swiper-wrapper{
  display: flex;
  margin-left: 50px;
  transition: transform 0.3s ease;
}

.swiper__slide{
    text-align: center;
    margin-right: 32px;

}

.item-photo img {
  border-radius: 50%;
}

.item{
  text-decoration: none;
  list-style: none;
  width: 180px;
  height: 180px;
}

.item-tag{
  margin-top: 16px;
  transition: .3s ease-out;
  font-weight: 500;
  font-size: 16px;
  color: #242424;
}

.swiper__slide:hover .item-tag{
  margin-top: 10px;
  transition: .3s ease-in;
  cursor: pointer;
}

.swiper__section-2-btn {
  text-align: center;

}

.swiper__section-2-btn button{
  border: none;
  border-radius: 50%;
}

.covers{
  padding: 40px 0 0 0;
}

.covers-wrapper{
  display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.cover-box{
  width: calc(33.3333333333% - 1.3333333333px);
}

.cover{
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 125%;
  overflow: hidden;
}

.cover img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 40px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transition: .4s;
}

  .cover-title {
    font-size: 40px;
    font-weight: 600;
    transition: .4s ease-in-out;
}

.cover-all {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  transition: .4s ease-in-out 0.1s;
}

.cover-box:hover .cover-title{
  transform: translateY(-20px);
}
.cover-box:hover .cover-all{
  transform: translateY(-20px);

}

.cover-content:hover {
  background-color: rgba(0, 0, 0, .3019607843);
}


.hidden {
  display: none !important;
  visibility: hidden !important;
}

.covers-link {
  display: block;
  background-color: #f2f2f2;
  padding: 24px 0;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #242424;
  transition: .3s;
  text-decoration: none;
}

.covers-link:hover {
  background-color: #242424;
  color: #fff;
}

/* FOOTER IS STARTED */

 .footer {
  padding-top: 40px;
    background-color: #f5f5dc;
  }
  .footer-title {
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: black;
    text-transform: uppercase;
  }
  .links {
    display: flex;
  }
  
  .icon-link {
    width: 45%;
  }
  
  .text-link {
    width: 55%;
  }
  
  .ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-left: 0;
  }
  
  .link {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
  }
  
  .icon-link i {
    font-size: 42px;
  }
  
  /* FOOTER IS FINISHED */
/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .nav-item {
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 1061px) {
    .nav-item {
      font-size: 12px;
    }
    .carousel-item .carousel-caption {
      bottom: 20%;
  }
  .carousel-text {
 
    font-size: 70px;
}
.carousel-text-px {
  font-size: 60px;

  }
  .cover-title{
    font-size: 30px;
  }
  .cover-all{
    font-size: 14px;
  }
  .carousel-text-pl{
    font-size: 65px;
  }
  .carousel-btn{
    padding: 8px 20px;
    font-size: 10px;
  }
}
  
  @media screen and (max-width: 800px) {
    .carousel-text {
 
      font-size: 50px;
  }
  .carousel-text-px {
    font-size: 40px;
  
    }

    .carousel-text-pl{
      font-size: 45px;
    }

    .swiper{
      margin-top: 80px;
    }
  }
  @media screen and (max-width: 650px) {
    .carousel-text {
 
      font-size: 30px;
  }
  .carousel-text-px {
    font-size: 30px;
  
    }

    .carousel-text-pl{
      font-size: 30px;
    }
    .infos-wrapper{
      justify-content: center;
    }
    .cover-title{
      font-size: 20px;
    }
    .cover-all{
      font-size: 14px;
    }
    .cover-content{
      padding: 10px;
    }
  }
  @media screen and (max-width: 426px) {
    .header .navbar .container .navbar-nav .nav-link {
      font-size: 12px;
    }
    .carousel-text {
      font-size: 16px;
  }
  .carousel-text-px {
    font-size: 16px;
  
    }

    .carousel-text-pl{
      font-size: 16px;
    }
  }
  