@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER IS STARTED */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(245, 245, 220, 1);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .header.black-bg {
    background-color: rgba(0, 0, 0, 0.125);
  }
  
  .header.black-bg .header-nav .header-link {
    color: #ffffff !important;
  }
  
  .header.black-bg .header-nav .header-link::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
  }
  
  .header.black-bg .header-nav .header-link:hover::after {
    transform: scale(1);
    transition: 0.5s ease;
  }
  
  .header-nav {
    backdrop-filter: blur(20px) !important;
  }
  
  .logo {
    width: 100px;
    height: 50px;
  }
  
  .navbar-brand > img {
    animation: ursin 2s infinite linear;
  }
  @keyframes ursin {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .nav-item {
    font-family: "Reddit Sans", sans-serif;
    font-weight: 700;
  }
  .header .navbar .container .navbar-nav .nav-link {
    color: #214087;
    position: relative;
  }
  
  .header-link::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #214087;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
  }
  .header-link:hover::after {
    transform: scale(1);
    transition: 0.5s ease;
  }
  
  .nav-content {
    background-color: rgba(255, 255, 255, 0);
  }
  .header-nav {
    backdrop-filter: blur(20px) !important;
  }
  /* HEADER IS FINISHED */

/* MAIN IS STARTED */
.carousel-item .carousel-caption{
  bottom: 25% ;
}
.carousel-text{
  display: flex;
  align-items: center;
  font-weight: 700;
font-size: 100px;
}
.carousel-btn{
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: #242424;
  color: #ffffff;
  border: none;
  font-weight: 600;
  transition: .5s;
  cursor: pointer;
  border-radius: 4px;
}

.carousel-btn:hover{
  background-color: #4e5364;
  
  padding: 14px 28px;
  transition: .5s;
}

.carousel-indicators .dot {
            height: 10px !important;
            width: 10px !important;
            margin: 0 5px;
            display: inline-block;
            background-color: #717171;
            cursor: pointer;
            transition: width 0.8s ease, height 0.8s ease, background-color 0.5s ease;
        }

        .carousel-indicators  .dot.active {
            width: 30px !important;
            height: 10px !important;
            background-color: white; /* Change to match the active state style */
            border-radius: 35%;
        }








/* FOOTER IS STARTED */

/* .footer {
    background-color: #f5f5dc;
  }
  .footer-title {
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: black;
    text-transform: uppercase;
  }
  .links {
    display: flex;
  }
  
  .icon-link {
    width: 45%;
  }
  
  .text-link {
    width: 55%;
  }
  
  .ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-left: 0;
  }
  
  .link {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
  }
  
  .icon-link i {
    font-size: 42px;
  }
   */
  /* FOOTER IS FINISHED */
/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .nav-item {
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 1061px) {
    .nav-item {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 426px) {
    .header .navbar .container .navbar-nav .nav-link {
      font-size: 12px;
    }
  }
  